@import "reset.css";

html, body {
    height: 100%;
}

.wrapper {
    max-width: 1024px;
    overflow: hidden;
    margin: 0 auto;
}

/* HEADER */

.searchform {
    margin-top: 10px;
}

.searchform button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.greeting {
    display: block;
    font-size: 18px;
}

.header .wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 0;
}


/* CONTENT */

.content {
    margin-top:20px;
}

.main-table th {
    border: 1px solid black;
    padding: 5px;
}