@import "reset.css";

html, body {
    height: 100%;
}

.wrapper {
    max-width: 1024px;
    overflow: hidden;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* HEADER */

.searchform {
    margin-top: 10px;
}

.searchform button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.greeting {
    display: block;
    font-size: 18px;
}

.header .wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 0;
}


/* CONTENT */

.content {
    margin-top:20px;
}

.main-table th {
    border: 1px solid black;
    padding: 5px;
}

#details {
    text-align: center;
    width: 100%;
}
#details th, td {
    border: 2px solid #ddd;
    padding: 10px;
}

.dropdown-menu {
    margin-bottom: 20px;
}

.dropdown-menu__button {
    margin-bottom: 10px;
    padding: 5px;
}

.dropdown-menu__button span {
    padding: 10px 5px;
    border: 2px solid #ccc;
}

.dropdown-menu__checkboxes {
    position: absolute;
    background: #fff;
    display: none;
}

.dropdown-menu .menu-group{
    margin-bottom: 5px;
}

.dropdown-menu input {
    display: inline-block;
}

.dropdown-menu label {
    display: inline-block;
}

.actions-menu button {
    margin-bottom: 10px;
    padding: 5px;
}

.actions-menu button a {
    text-decoration: none;
}

.table-responsive {
    overflow-x: scroll;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.message {
    text-align: center;
    margin-bottom: 15px;
}

/* REGISTRATION CARD */

.card {
    display: flex;
    justify-content:space-between;
}

.detail-info {
    width: 60%;
}

h2 {
    font-size: 24px;
    color: #3498db;
    text-align: center;
    margin: 15px 0 20px;
}

.detail-info__item, .take-detail__item, .put-detail__item, .order-detail__item {
    display: flex;
    justify-content: space-between;
}

.detail-info__item input, .take-detail__item input, .put-detail__item input, .order-detail__item input, .detail-info__item select, .take-detail__item input, .take-detail__item select {
    width: 70%;
    margin: 5px 3px;
    padding: 5px 5px;
}

.detail-info__item label, .take-detail__item label, .put-detail__item label, .order-detail__item label {
    width: 30%;
}

.detail-photo {
    width: 30%;
}

.buttons {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.take-detail, .put-detail, .order-detail, .auth, .register {
    max-width: 60%;
    margin: 100px auto 0;
}

.btn {
    border: 2px solid #3498db;
    font-weight: bold;
    background-color: #fff;
    color: #3498db;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 3px 7px 0px rgba(73, 139, 250, 0.57);
    text-decoration: none;
    display: block;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background: #3498db;
    color: #fff;
}

.btn_inline {
    display: inline;
    padding: 10px;
}

#users_btn {
    text-align: left;
}


/* PROFILE */

.profile-menu ul {
    display: flex;
    justify-content: space-around;
}

.profile-menu__item {
    display: block;
}

.profile_table {
    display: none;
    text-align: center;
    margin-top: 50px;
}

.profile_table table {
    margin-top: 30px;
    width: 100%;
}


/* AUTH && REGISTER */

.auth__header, .register__header {
    text-align: center;
    margin-bottom: 30px;
}

.auth__form form .item, .register__form form .item {
    display: flex;
    justify-content: space-between;
}

.auth__form form .item input {
    width: 70%;
    margin: 5px 3px;
    padding: 5px 5px;
}

.register__form form .item input, .register__form form .item select, .item__input {
    width: 70%;
    padding: 5px 5px;
}

.auth__form form label {
    width: 30%;
}

.register__form form label {
    width: 30%;
    margin: auto 0;
}

.auth_error {
    text-align: center;
    padding-bottom: 10px;
    color: red;
}

.remember p, input {
    display: inline-block;
}

.register__form form ul li.error .item input {
    border: 2px solid #fb431c;
    border-radius: 3px;
}

.form_error {
    position: absolute;
    bottom: -20px;
    z-index: 10;
    border: 1px solid #fb431c;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    background-color: #fb431c;
    font-size: 0.8em;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
    display: none;
}

ul li:hover p.form_error {
    display: block;
}

.item {
    position: relative;
}